body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #188051;
}

/* 🔥 FIRE TEXT */
.fire-text {
  font-size: 90px;
  font-weight: bold;
  color: #866e0d;
  text-transform: uppercase;

  text-shadow:
    0 0 5px #141414,
    0 0 10px #ff6a00,
    0 0 20px #ff3c00,
    0 0 40px #ff0000,
    0 0 80px #ff0000;

  animation: fire 1.5s infinite alternate;
}

/* 🔥 Fire movement */
@keyframes fire {
  0% {
    text-shadow:
      0 0 5px #ffb300,
      0 0 15px #ff8000,
      0 0 30px #ff4000,
      0 0 60px #ff0000;
    transform: translateY(0);
  }

  50% {
    text-shadow:
      0 0 10px #ffd000,
      0 0 25px #ff9900,
      0 0 50px #ff5500,
      0 0 90px #ff2200;
    transform: translateY(-2px);
  }

  100% {
    text-shadow:
      0 0 5px #ffcc00,
      0 0 20px #ff8800,
      0 0 40px #ff4400,
      0 0 80px #ff2200;
    transform: translateY(0);
  }
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* FLUID GRADIENT */
  background: linear-gradient(
    135deg,
    #d83c0d,
    #0f0f0f,
    #0b6fc0,
    #0d0d0e
  );

  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

.logo {
  width: 320px;
}

button {
  padding: 12px 25px;
 background: white;
  color: #ff4e50;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.login-card h2 {
  text-align: center;
  margin-bottom: 25px;
}
.input-box {
  position: relative;
  margin-bottom: 18px;
}
.input-box input {
  width: 100%;
  padding: 12px 40px 12px 15px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
}
.input-box input::placeholder {
  color: #eee;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
}



.landing h1,
.landing p {
  color: white;
}

 
