body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background: #188051;
}

/* 🔥 FIRE TEXT */
.fire-text {
  font-size: 90px;
  font-weight: bold;
  color: #866e0d;
  text-transform: uppercase;

  text-shadow:
    0 0 5px #ff9a00,
    0 0 10px #ff6a00,
    0 0 20px #ff3c00,
    0 0 40px #ff0000,
    0 0 80px #ff0000;

  animation: fire 1.5s infinite alternate;
}

/* 🔥 Fire movement */
@keyframes fire {
  0% {
    text-shadow:
      0 0 5px #ffb300,
      0 0 15px #ff8000,
      0 0 30px #ff4000,
      0 0 60px #ff0000;
    transform: translateY(0);
  }

  50% {
    text-shadow:
      0 0 10px #ffd000,
      0 0 25px #ff9900,
      0 0 50px #ff5500,
      0 0 90px #ff2200;
    transform: translateY(-2px);
  }

  100% {
    text-shadow:
      0 0 5px #ffcc00,
      0 0 20px #ff8800,
      0 0 40px #ff4400,
      0 0 80px #ff2200;
    transform: translateY(0);
  }
}

.landing {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* FLUID GRADIENT */
  background: linear-gradient(
    135deg,
    #ec7622,
    #690507,
    #850735,
    #680ab9
  );

  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

.logo {
  width: 320px;
}

button {
  padding: 12px 25px;
 background: white;
  color: #ff4e50;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.login-box {
  width: 300px;
  margin: 120px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
.landing h1,
.landing p {
  color: white;
}

 
